*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 414px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui;
  background-color: rgb(255, 255, 255);
  height: 600px;
}

.div-main {
  border-style: solid;
  border-color: rgb(183, 180, 178);
  border-radius: 10px;
  border-width: 1px;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  border-radius: 20px;
}

.photo-name {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px black;
}
