*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: 0;
  font-family: system-ui;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border-block-end: 1px solid rgb(160, 156, 156);
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  border-radius: 20px;
}

footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border-block-start: 1px solid rgb(160, 156, 156);
}

.photo-name {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
}
